/* App.css */
nav {
  background-color: #F05A22;
  color: white;
  padding: 1rem;
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  left: 0; /* Stick to the left edge */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it’s above other content */
  overflow: hidden;
  height: 100px; /* Height of the navbar */
  display: flex;
  align-items: center;
}

#head {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

#img {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  margin-left: 200px; /* Adjust as needed for alignment */
}

* {
  margin: 0;
  padding: 0;
}